[Unit]
Description=Cherrypy uwsgi instance to start cherrypy

[Service]
PIDFile=/run/uwsgi/uwsgi.pid
ExecStartPre=/bin/mkdir -p /run/uwsgi
ExecStartPre=/bin/chown michael:michael /run/uwsgi
ExecStart=/home/michael/Documents/Yale/server/server_venv/bin/uwsgi --ini /etc/uwsgi/emperor.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
