/*################### Globals ##################*/

svg .axis path, svg .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

svg .axis text {
    font-family: sans-serif;
    font-size: 11px;
}